li{
    display: inline;
    margin: 4px;
}
li:hover{
    background-color: rgb(30, 144, 255);
    border-radius: 10px 10px 10px 10px;
    
}
.piaic,.col-sm-5{
    color: rgb(255,255,255);
}
#details{
    color: blue;
}
#intro{
    text-align: center;
}
p{
    text-align: justify;
 }
.bg-white{
    padding: 10px 40px;
    margin: 10px;
}  
#icon{
    margin: 10px;
}
.col-sm-2{
    margin: 10px 0px;
}
#doing{
    padding: 10px;
}
#footer{
    padding: 10px;
    margin-bottom: 0px;
}
#hd{
    color: rgb(50, 205, 50);
}